<html>
  <head>
    <title>{{ title }}</title>
    <link href="https://unpkg.com/mvp.css" rel="stylesheet" />
    
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

  </head>
  <body>
    <header>
      <h1>Font Diffusion Inference</h1>
    </header>
    <center>
      <form id="input" action="/string">
        <input
          type="search"
          placeholder="keyword"
          id="search_input"
          name="q"
        />
        <button type="submit"></button>
      </form>
    </center>
  </header>
  <main>
    {{ keyword }}
  </main>
  </body>
</html>